﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
}

<<div class="row centered">
    <br><br>
    <div class="col-lg-4">
    <h4>Cooperatives Movement</h4>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
        <a class="btn btn-default" href="#">More Info &raquo;</a>
     </div><!-- col-lg-4 -->
    <div class="col-lg-4">
       <h4>Participants</h4>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
        <a class="btn btn-default" href="#">More Info &raquo;</a>
     </div><!-- col-lg-4 -->
    <div class="col-lg-4">
        <h4>About Corpserve</h4>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
        <a class="btn btn-default" href="#">More Info &raquo;</a>
     </div><!-- col-lg-4 -->
</div><!-- row -->
<br>
<br>