﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <title>Corpserve Cooperatives Society</title>

    @Scripts.Render("~/bundles/modernizr")

    <link href="~/assets/css/bootstrap.css" rel="stylesheet">
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/assets/css/main.css" rel="stylesheet">
    <link href="~/Content/carousel.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        li #thediv {
            display: none;
        }

        #thediv li a {
            display: block;
            background: #000;
            padding: 5px 10px 5px 10px;
            text-decoration: none;
            white-space: nowrap;
            color: #fff;
        }

            #thediv li a:hover {
                background: #ff7878;
            }

        li:hover #thediv {
            display: block;
            position: absolute;
        }



        li:hover a {
            background: #ff7878;
        }

        li:hover li a:hover {
            background: #000;
        }

        #thediv {
            z-index: 9;
            width: 200%;
            float: left;
        }

        #drop-nav li ul li {
            border-top: 0px;
        }
    </style>
    <meta name="description" content="Share-Buttons is a plugin based on jQuery to add share and contact buttons to your website.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/css/contact-buttons.css">

</head>
@*
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
*@
<
<body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="~/images/Logo.png" height="80" /><i class="fa fa-circle"></i></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "active" : "")">@Html.ActionLink("About Corpserve", "About", "Home")</li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Service" ? "active" : "")">@Html.ActionLink("Corpserve Service", "Service", "Home")</li>

                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Movement" ? "active" : "")">@Html.ActionLink("Cooperatives Movement", "Movement", "Home")</li>

                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Participants <span class="caret"></span></a>

                        <ul id="thediv">
                            <li><a href="#">MH SACCO</a></li>
                            <li><a href="#">CACU</a></li>
                            <li><a href="#">TICHAEDZA VARAMBO</a></li>
                            <li><a href="#">MUKUVISI</a></li>
                            <li><a href="#">ONENESS</a></li>
                            <li><a href="#">WESACCO</a></li>
                        </ul>
                    </li>


                </ul>
                <!-- add search form -->
                <form class="navbar-form navbar-right" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search this site..................................">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div><!--/.nav-collapse -->
        </div>
    </div>


    <div class="container w">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Corpserve Cooperatives Society </p>
        </footer>
        <br>
        <br>
    </div><!-- container -->
    <!-- PORTFOLIO SECTION -->
    <!-- PORTFOLIO SECTION -->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="~/js/jquery.contact-buttons.js"></script>
    <script src="~/js/demo.js"></script>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
