﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <title>Corpserve Cooperatives Society</title>

    @Scripts.Render("~/bundles/modernizr")

    <link href="~/assets/css/bootstrap.css" rel="stylesheet">
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/assets/css/main.css" rel="stylesheet">
    <link href="~/Content/carousel.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">



        li #thediv {
            display: none;
        }

        #thediv li a {
            display: block;
            background: #000;
            padding: 5px 10px 5px 10px;
            text-decoration: none;
            white-space: nowrap;
            color: #fff;
        }

        #thediv li a:hover {
            background: #ff7878;
        }

        li:hover #thediv {
            display: block;
            position: absolute;
        }



        li:hover a {
            background: #ff7878;
        }

        li:hover li a:hover {
            background: #000;
        }
        #thediv {

            z-index: 9;
            width: 200%;
            float: left;
        }
        #drop-nav li ul li {
            border-top: 0px;
        }
    </style>
    <meta name="description" content="Share-Buttons is a plugin based on jQuery to add share and contact buttons to your website.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/css/contact-buttons.css">
  
</head>
@*
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
*@
<<body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="~/images/Logo.png"  height="80" /><i class="fa fa-circle"></i></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "active" : "")">@Html.ActionLink("About Corpserve", "About", "Home")</li>
                     <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Service" ? "active" : "")">@Html.ActionLink("Corpserve Service", "Service", "Home")</li>
                    
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Movement" ? "active" : "")">@Html.ActionLink("Cooperatives Movement", "Movement", "Home")</li>

                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Participants <span class="caret"></span></a>

                        <ul id="thediv">
                            <li><a href="#">MH SACCO</a></li>
                            <li><a href="#">CACU</a></li>
                            <li><a href="#">TICHAEDZA VARAMBO</a></li>
                            <li><a href="#">MUKUVISI</a></li>
                            <li><a href="#">ONENESS</a></li>
                            <li><a href="#">WESACCO</a></li>
                        </ul>
                    </li>
                 

                </ul>
                <!-- add search form -->
                <form class="navbar-form navbar-right" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search this site..................................">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div><!--/.nav-collapse -->
        </div>
    </div>
     <!-- Carousel
    ================================================== -->
     <div id="myCarousel" class="carousel slide" data-ride="carousel">
         <!-- Indicators -->
         <ol class="carousel-indicators">
             <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
             <li data-target="#myCarousel" data-slide-to="1"></li>
             <li data-target="#myCarousel" data-slide-to="2"></li>
         </ol>
         <div class="carousel-inner" role="listbox">
             <div class="item active">
                 <img class="first-slide"  src="~/images/confilct-resolution-700x274.png" alt="First slide">
                 <div class="container">
                     <div class="carousel-caption" style="background-color:white; color: black;opacity:0.7">
                         <h1>Example headline.</h1>
                         <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
                         <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                     </div>
                 </div>
             </div>
             <div class="item">
                 <img class="second-slide" src="~/images/stock-photo-children.jpg" alt="Second slide">
                 <div class="container">
                     <div class="carousel-caption" style="background-color: white; color: black;opacity:0.7">
                         <h1>Another example headline.</h1>
                         <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                         <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a>
                         </p>
                     </div>
                 </div>
             </div>
             <div class="item">
                 <img class="second-slide" src="~/images/Stock-Photo.jpg" alt="Second slide">
                 <div class="container">
                     <div class="carousel-caption" style="background-color: white; color:black;opacity:0.7;">
                         <h1>Another example headline.</h1>
                         <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                         <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                     </div>
                 </div>
             </div>
      
         </div>
         <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
             <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
             <span class="sr-only">Previous</span>
         </a>
         <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
             <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
             <span class="sr-only">Next</span>
         </a>
     </div><!-- /.carousel -->
 
    <div class="container w">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Corpserve Cooperatives Society </p>
        </footer>
        <br>
        <br>
</div><!-- container -->

     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
     <script src="~/js/jquery.contact-buttons.js"></script>
     <script src="~/js/demo.js"></script>
     <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

     </script>
    <!-- PORTFOLIO SECTION -->
   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
     <!-- Bootstrap core JavaScript
    ================================================== -->
     <!-- Placed at the end of the document so the pages load faster -->
     <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
     <script src="~/assets/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
